.spinnerContainer{
    text-align: center;
}

.spinner {
    width: 70px
}

.actionButton {
    margin: 3px;
}

.libraIconIM
{
    width:1.9%;
}

.libraIconTM {
    width: 2.5%;
}

