.form-inline {
    width: 100%;
}

.form-group {
    width: 90%;
}

.input-group {
    width: 90% !important;
}

.form-control {
    width: 50% !important;
}

span.input-group-addon {
    width: 50px !important;
}

.sourceAccountContainer {
    display: flex;
}

.recipientAccountContainer {
    display: flex;
}

.searchAccounts {
    margin-left: 5px;
}

.noAccountsMessage {
    text-align: center;
    color:dimgrey;
    font-size:12px;
}

.submitButton {
    text-align: right;
}

.resultContainer {
    display: inline-block;
}

.successMessage {
    font-weight: bold;
    color: green;
    margin-left: 7px;
}

.errorMessage {
    font-weight: bold;
    color: green;
    margin-left: 7px;
}

