.transactionIcon {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.transactionResult {
    display: inline-block;
}

.transactionMessage {
    margin-top: -10px;
    color: green;
    font-weight:600;
}

.TestnetContainerTx {
    text-align: center;
}

.TestnetTextTx {
    width: 50px;
    font-size: 11px;
    background-color: darkred;
    color: white;
    border-radius: 5px;
}

.MessageContainerTx {
    vertical-align: middle;
    margin: 0 auto;
    width: 30%;
}
