.transactionResultContainer{
    width: 100%
}

.transactionIcon {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.transactionResult {
}

.transactionMessage {
    margin-top: -10px;
    color: green;
    font-weight: 600;
    text-align:center;
    margin-bottom: 4px;
}

.informationMessgae {
    width: 100%;
    font-size: 10px;
    text-align: center;
}

.TestnetContainerTx {
    text-align: center;
}

.TestnetTextTx {
    width: 50px;
    font-size: 11px;
    background-color: darkred;
    color: white;
    border-radius: 5px;
    margin:auto;
}

.MessageContainerTx {
    vertical-align: middle;
    text-align:center;
    margin-bottom: 4px;
        
}
